doctype html
html
	head
		title #{pageTitle}
		style
			include ../public/css/style.css
	body
		script(src="https://cdn.socket.io/socket.io-1.2.0.js")
		script(src="http://code.jquery.com/jquery-1.11.1.js")
		script
			include ../public/Javascript/client_script.js
		ul#messages
		form(action="")
			input#m(autocomplete="off")
			button Send