doctype html
html
	head
		title #{pageTitle}
		style
			include ../public/css/chat_style.css
	body
		#top
			form#username
				p#welcome Please choose a username to join the chat
				button#change Change username
				input#u(autocomplete="off")
			p Now speaking in the <u><b>#{pageTitle}</b></u> room
		div#userlist
			p Users in this room:
			ul#users
		script(src="https://cdn.socket.io/socket.io-1.2.0.js")
		script(src="http://code.jquery.com/jquery-1.11.1.js")
		script
			include ../public/Javascript/chat_client.js
		ul#messages
		form#chat(action="")
			input#m(autocomplete="off")
			button#send Send