doctype html
html
	head
		title #{pageTitle}
		link(href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css')
		style
			include ../public/css/index_style.css
	body
		#intro
			p#welcome Welcome to basic chat
			p#info Enter the name of the chat room you want to join
			p#moreInfo If it doesn't exist, it will be created!
		script(src="https://cdn.socket.io/socket.io-1.2.0.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script
			include ../public/Javascript/index_client.js
		form#form(action="")
			input#n(autocomplete="off")
			button#join Join
		p#roomInfo Click to join an existing room:
		ul#rooms
		p#contact Send questions, suggestions, and bug reports to:
		a(href="mailto:elijahpeckman@gmail.com") elijahpeckman@gmail.com
		