      * { 
      margin: 0; 
      padding: 0; 
      box-sizing: border-box; 
      font-size: 15px;
      }
      
      body { 
      font-family: Trebuchet MS;
      }
      
      #top{
      text-align: center;
      font-size: 12px;
      }
      
      #chat{ 
      background: #000; 
      padding: 3px; 
     
      bottom: 0; 
      width: 85%; 
      }
      
      #m { 
      border: 0; 
      padding: 10px; 
      width: 90%; 
      margin-right: .5%; 
      }
      
      
	#change {
	height: 30px;
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	
	text-decoration:none;
	}
	#change:hover {
	background-color:#bab1ba;
	}
	#change:active {
	position:relative;
	top:1px;
	}

	#send {
	height: 40px;
	width: 95px;
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	
	text-decoration:none;
	}
	#send:hover {
	background-color:#bab1ba;
	}
	#send:active {
	position:relative;
	top:1px;
	}
	
      
      #messages { 
      list-style-type: none; 
      margin: 0; 
      padding: 10px; 
      width: 85%;
      height: 514px;
      overflow-y: scroll;
      border: solid;
      }
      
      #messages li { 
      padding: 5px 10px; 
      }
      
      #messages li:nth-child(odd) { 
      background: #eee; 
      }

      #userlist {
      right: 0px;
      width: 15%;
      height: 89.8%;
      position: absolute;
      border: solid;
      background: #F7F7F7;
      }
      
      #users{
      color: rgb(81, 127, 224);
      list-style-type: none;
      overflow-y: scroll;
      overflow-x: scroll;
      }
      
      #users li:last-child{
      border-bottom-style: solid;
      }
      
      .user{
      padding-left: 10px;
      padding-top: 5px;
      border-top-style: solid;
      border-bottom-style: none;
      border-color: black;
      border-width: 1px;
      }
      